@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&family=Schibsted+Grotesk:wght@400;600&display=swap");

/* ===============================
   PAGE LAYOUT
=============================== */
body {
  margin: 0;
  font-family: "Schibsted Grotesk", sans-serif;
  background: var(--color-bg);
  color: var(--color-headings);
}

/* .conten-container {
  width: 100%;
  min-height: 95vh;
  padding: 6rem 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
} */

.main-cont {
  padding: 10.6rem 15.4rem;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

/* ===============================
   BREADCRUMB
=============================== */
.breadcrumb {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-bodytext);
}

.arrows {
  position: relative;
  z-index: -1;
  width: 8px;
  height: 8px;
}

.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

[data-theme="light"] .arrow-right-light {
  opacity: 1;
}

[data-theme="light"] .arrow-right-dark {
  opacity: 0;
}

/* Dark mode: hide dark github-logo, show light github-logo */
[data-theme="dark"] .arrow-right-light {
  opacity: 0;
}

[data-theme="dark"] .arrow-right-dark {
  opacity: 1;
}

/* ===============================
    PAGE TITLE + SUBTITLE
=============================== */
.caption {
  margin-bottom: 4.3rem;
}

.caption h1 {
  font-size: 4.6rem;
  margin-bottom: 1.2rem;
  color: var(--color-headings);
  font-weight: 600;
}

.caption p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--color-bodytext);
}

/* ===============================
   TWO-COLUMN WRAPPER
=============================== */
.password-gen-wrapper {
  display: grid;
  gap: 58px;
  grid-template-columns: 2fr 1fr;
}

/* ===============================
   LEFT — GENERATOR CARD
=============================== */
.generator-card {
  background: var(--color-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 10px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.generator-title {
  font-family: "Space Grotesk", sans-serif;
  font-size: 16px;
  font-weight: 700;
  color: var(--color-headings);
}

/* PASSWORD FIELD + ICONS */
.password-field {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.password-field input {
  flex: 1;
  padding: 10px 15px;
  border-radius: 7px;
  border: 0.5px solid var(--color-border);
  font-size: 14px;
  color: var(--color-bodytext);
  background: var(--color-bg);
  font-family: "Schibsted Grotesk", sans-serif;
}

[data-theme="light"] input {
  outline-color: var(--color-headings);
}
[data-theme="dark"] input {
  outline-color: var(--color-border);
}

.password-field input::placeholder {
  color: var(--color-bodytext);
  font-weight: 500;
  font-size: 12px;
}

.icon-btn {
  width: 42px;
  height: 38px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: var(--color-bg);
  border: 0.5px solid var(--color-border);
  border-radius: 7px;
  transition: background 0.2s;
  color: var(--color-bodytext);
}

.icon-btn:hover {
  background: var(--color-hover);
}

#copyBtn {
  right: 52px;
}

#refreshBtn {
  right: 0;
}

/* ===============================
   STRENGTH + LENGTH
=============================== */
.strength-length-row {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap;
}

.strength-section,
.length-section {
  flex: 1;
}

.strength-label,
.length-label {
  font-family: "Space Grotesk", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: var(--color-headings);
  margin-bottom: 15px;
}

.strength-bar {
  height: 10px;
  background: var(--color-hover);
  border-radius: 7px;
  overflow: hidden;
  border: 0.5px solid var(--color-border);
}

.strength-fill {
  width: 70%;
  background: #22c55e;
  height: 100%;
  transition: 0.3s;
}

.strength-text {
  font-size: 12px;
  color: var(--color-bodytext);
  text-align: right;
  margin-top: 8px;

}

#lengthSlider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  background: var(--color-hover);
  border: 0.5px solid var(--color-border);
  border-radius: 7px;
}

#lengthSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 21px;
  height: 21px;
  background: var(--color-bg);
  border: 1.5px solid var(--color-headings);
  border-radius: 50%;
  cursor: grab;
}

#lengthValue {
  float: right;
  font-size: 12px;
  color: var(--color-bodytext);
  margin-top: 8px;
}

/* ===============================
   TOGGLE SWITCHES
=============================== */

.checkboxes{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.toggle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  color: var(--color-headings);
  font-family: "Space Grotesk", sans-serif;
}

.toggle input {
  display: none;
}

.slider {
  position: relative;
  width: 55px;
  height: 30px;
  background: var(--color-hover);
  border-radius: 100px;
  border: 0.5px solid var(--color-border);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider:before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  left: 1px;
  background: var(--color-bg);
  border-radius: 100px;
  border: 0.5px solid var(--color-border);
  transition: transform 0.2s;
}

.toggle input:checked + .slider {
  background: #22c55e;
}

.toggle input:checked + .slider:before {
  transform: translateX(26px);
}

/* GENERATE BUTTON */
.generate-btn {
  width: 100%;
  height: 48px;
  background-color: var(--color-button);
  color: var(--color-bg);
  border: none;
  border-radius: 8px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.generate-btn:hover {
  background-color: var(--color-button-hover);
}

/* ===============================
   RIGHT — TIPS CARD
=============================== */
.tips-card {
  border: 0.5px solid var(--color-border);
  background-color: var(--color-hover);
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
}

.tips-card h2 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
  color: var(--color-headings);
}

.tips-card ul {
  padding-left: 20px;
  margin: 0;
}

.tips-card li {
  font-family: "Schibsted Grotesk", sans-serif;
  font-size: 16px;
  margin-bottom: 8px;
  line-height: 1.5;
  color: var(--color-bodytext);
}

/* ===============================
   RESPONSIVE
=============================== */

@media (min-width: 1023px) and (max-width: 1280px) {
  
  .main-cont {
    padding: 10.6rem 8.4rem;
  }

  .password-gen-wrapper   {
    grid-template-columns: 2fr;
    gap: 44px;
  }
}

@media (max-width: 1024px) {
    .main-cont {
    padding: 10.6rem 8.4rem;
  }

  .password-gen-wrapper {
    grid-template-columns: 2fr;
    gap: 44px;
  }
}

@media (max-width: 768px) {
  .breadcrumb {
    display: none;
  }

  .main-cont {
    padding: 6.6rem 2rem;
  }

   .password-gen-wrapper  {
    grid-template-columns: 2fr;
    gap: 44px;
  }

  .generator-card, .tips-card{
    padding: 1.5rem;
  }
}
