.main-cont{
    padding:100px 60px 60px 60px;
    

}


.main-cont ul li{
    display:inline;
    list-style:none;
    line-height: 35px;
   font-size:16px;

}
.main-cont ul{
 
    padding-left:60px;

}
.main-cont a{
 
color: var(--color-bodytext);
   text-decoration: none;
   margin-right:10px;

}



.main-inner{ 
    display:flex;

}

.main-cont p{
    font-size:16px !important;
    padding-left: 50px;
}
.main-cont h1{
    font-size:46px !important;
    margin-bottom: 0;
    padding-left:50px;
}
.left-content{
    width:60%;
    padding:60px;
}
.right-content{
border: 0.5px solid var(--color-border);
    background-color: var(--color-hover);
    border:solid 1px #D9D9D9;
    width:28%;
    border-radius:10px;
    padding: 20px;
    margin-top:60px;
height:fit-content;
}

.right-content h3{
    padding-left:0px;
    font-size:20px;
    margin-bottom:10px;
}
.right-content li{
    
    list-style:none;
    font-size:16px;
    line-height: 35px;
}
.converter-inputs{
    border:solid 1px #D9D9D9;
    /* height:420px; */
    padding:30px;
    border-radius:10px;
    box-shadow: 0 0 1px 1px rgb(255, 251, 251);;
}
.converter-inputs h3{
    font-size:2rem ;
    margin-bottom:15px;
}
.converter-inputs select{
 
  border:none;
background-color: var(--color-bg);
   
  font-size:14px;
}

.select-div{
    border:solid 1px #D9D9D9;
    border-radius:5px;
    padding:15px;
    display:flex;
    width:96%;
}
.select-div select{
    color: var(--color-bodytext);
    width:100%;
}


.select-div img{
  
   margin-right:10px;
}

.converter-values {
/* display: flex; */
gap:14px;
   
}
.converter-values h4{
margin-bottom: 15px;
   
}

.converter-values input{
background-color: var(--color-bg);
    border: solid 1px #D9D9D9;
    border-radius: 5px;
    padding: 15px;
width: 95%;
 

    font-size:14px;
    
}
.hold-all{
    display:flex;
}
.select-div2 {
border: solid 1px #D9D9D9;
    border-radius: 5px;
    padding: 15px;
    margin-top:20px;
   width:95%;
}

.select-div2 select {
    width: 100%;
background-color: var(--color-bg);
color: var(--color-bodytext);
}
.other-inputs{
   
    margin-top:20px;
    width:50%;
}
.other-inputs h4{
   
   font-size:14px;
}
button{
    width:100%;
    background:black;
    color:#fff;
    padding:15px;
    border-radius:5px;
    border:none;
    margin-top:50px;
    font-size:16px;
}
.arrow-icon{
    width:100px;
 
   
}


.arrow-icon img{
    margin-top: 80px;
 margin-right:12px;
}

@media screen and (max-width:820px){

.main-inner {
        display:block;
    

    }

.main-cont {
    padding: 30px;


}

.main-cont p {
    font-size: 16px !important;
    padding-left: 10px;
    
}


.main-cont h1 {
    font-size: 36px !important;
    margin-bottom: 0;
    padding-left: 0px;
    margin-top:60px;
}

.left-content {
    width: 100% ;
    padding: 0px 0;
    margin-top:20px;
}

.right-content {
   padding:5px;
    width: 100% ;
    
}
.converter-inputs {
    padding: 5px;
   
    

}

.converter-values input {
   
    width: 100%;

}
.select-div2 {
   
    width: 100%;
}
}