.main-cont{
    padding:0 60px 60px 60px;
    

}



.main-inner{ 
    display:flex;

}

.main-cont p{
    font-size:16px !important;
    padding-left: 50px;
}
.main-cont h1{
    font-size:46px !important;
    margin-bottom: 0;
    padding-left:50px;
}
.left-content{
    width:60%;
    padding:60px;
}
.right-content{
    background:#F2F2F2;
    border:solid 1px #D9D9D9;
    height:350px;
    width:27%;
    border-radius:10px;
    padding-top:20px;
    margin-top:60px;
}

.right-content h3{
    padding-left:50px;
    font-size:20px;
}
.right-content li{
    padding-right:20px;
    font-size:16px;
}
.converter-inputs{
    border:solid 1px #D9D9D9;
    /* height:420px; */
    padding:30px;
    border-radius:10px;
    box-shadow: 0 0 1px 1px rgb(255, 251, 251);;
}
.converter-inputs h3{
    font-size:2rem ;
}
.converter-inputs select{
 
  border:none;
  background:#fff;
  font-size:14px;
}

.select-div{
    border:solid 1px #D9D9D9;
    border-radius:5px;
    padding:15px;
    display:flex;
    width:96%;
}
.select-div select{
   
    width:100%;
}


.select-div img{
  
   margin-right:10px;
}

.converter-values {
/* display: flex; */
gap:14px;
   
}

.converter-values input{
border: solid 1px #D9D9D9;
    border-radius: 5px;
    padding: 15px;
width: 95%;
 

    font-size:14px;
    
}
.hold-all{
    display:flex;
}
.select-div2 {
border: solid 1px #D9D9D9;
    border-radius: 5px;
    padding: 15px;
    margin-top:20px;
   width:95%;
}

.select-div2 select {
    width: 100%;
}
.other-inputs{
   
    margin-top:20px;
    width:50%;
}
.other-inputs h4{
   
   font-size:14px;
}
button{
    width:100%;
    background:black;
    color:#fff;
    padding:15px;
    border-radius:5px;
    border:none;
    margin-top:50px;
    font-size:16px;
}
.arrow-icon{
    width:100px;
 
   
}


.arrow-icon img{
    margin-top: 120px;
 
    margin-left:10px;
}

@media screen and (max-width:820px){



    
.main-inner {
        display:block;

    }

        .main-cont p {
            
            padding-left: 10px;
        }

.main-cont {
    padding: 10px;


}
.main-cont h1 {
   
    padding-left: 10px;
}

.left-content {
    width: 200% ;
    padding: 10px;
}

.right-content {
   
    width: 200% ;
    
}


}