.main-cont {
  padding: 10.6rem 15.4rem;
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.breadcrumb {
  display: flex;
  gap: 0.3rem;
  align-items: center;
}

.breadcrumb a {
  text-decoration: none;
  font-weight: 400;
  color: var(--color-bodytext);
}

.arrows {
  position: relative;
  z-index: -1;
  width: 8px;
  height: 8px;
}

.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

[data-theme="light"] .arrow-right-light {
  opacity: 1;
}

[data-theme="light"] .arrow-right-dark {
  opacity: 0;
}

/* Dark mode: hide dark github-logo, show light github-logo */
[data-theme="dark"] .arrow-right-light {
  opacity: 0;
}

[data-theme="dark"] .arrow-right-dark {
  opacity: 1;
}

.caption {
  margin-bottom: 4.3rem;
}

.caption h1 {
  font-size: 4.6rem;
  margin-bottom: 1.2rem;
  color: var(--color-headings);
  font-weight: 600;
}

.caption p {
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.6rem;
  color: var(--color-bodytext);
}
.main-inner {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 5.8rem;
}

.right-content {
  border: 0.5px solid var(--color-border);
  background-color: var(--color-hover);
  border-radius: 10px;
  padding: 30px;
  height: fit-content;
}

.right-content h2 {
  color: var(--color-headings);
  font-size: 20px;
  margin-bottom: 20px;
}

.right-content ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;
}

.right-content ul li {
  font-size: 1.6rem;
  margin-left: 2.5rem;
  line-height: 1.5;
}

.converter-inputs {
  border: 0.5px solid var(--color-border);
  padding: 30px;
  border-radius: 10px;
}

.converter-inputs p {
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-bodytext);
  margin-bottom: 20px;
}

.converter-inputs select {
  border: none;
  background-color: var(--color-bg);

  font-size: 14px;
}

.select-div {
  border: 0.5px solid var(--color-border);
  border-radius: 5px;
  padding-right: 15px;
  display: flex;
  width: 100%;
  color: var(--color-bodytext);
}

.select-div select {
  color: var(--color-bodytext);
  width: 100%;
}

.select-div img {
  margin-right: 10px;
}

.converter-values {
  /* display: flex; */
  gap: 14px;
}

.converter-values h4 {
  margin-bottom: 15px;
}

.converter-values input {
  background-color: var(--color-bg);
  border-radius: 7px;
  padding: 14.5px 15px;
  border: 0.5px solid var(--color-border);
  width: 100%;
  color: var(--color-bodytext);
  font-size: 14px;
}

[data-theme="light"] input {
  outline-color: var(--color-headings);
}
[data-theme="dark"] input {
  outline-color: var(--color-border);
}

.hold-all {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.select-div2 {
  border: 0.5px solid var(--color-border);
  border-radius: 7px;
  margin-top: 20px;
  padding-right: 15px;
  width: 100%;
}

.select-div2 select,
.select-div select {
  width: 100%;
  background-color: var(--color-bg);
  color: var(--color-bodytext);
  outline: none;
  padding: 14.5px 0 14.5px 15px;
  height: inherit;
  width: inherit;
}

.other-inputs {
  margin-top: 20px;
  width: 50%;
}

.other-inputs h4 {
  font-size: 14px;
}

button {
  width: 100%;
  background-color: var(--color-button);
  color: var(--color-button-text);
  padding: 15px;
  border-radius: 7px;
  border: none;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-family: "Space Grotesk", sans-serif;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  transition: background-color var(--transition-speed);
}

.arrow-icon {
  position: relative;
  z-index: -1;
  width: 20px;
  height: 20px;
  margin-top: 50px;
}

.arrow-swap {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity var(--transition-speed) ease,
    transform var(--transition-speed) ease;
}

[data-theme="light"] .arrow-swap-light {
  opacity: 1;
}

[data-theme="light"] .arrow-swap-dark {
  opacity: 0;
}

/* Dark mode: hide dark github-logo, show light github-logo */
[data-theme="dark"] .arrow-swap-light {
  opacity: 0;
}

[data-theme="dark"] .arrow-swap-dark {
  opacity: 1;
}

@media (min-width: 1023px) and (max-width: 1280px) {
  
  .main-cont {
    padding: 10.6rem 8.4rem;
  }

  .main-inner  {
    grid-template-columns: 2fr;
    gap: 44px;
  }
}

@media (max-width: 1024px) {
  .main-cont {
    padding: 10.6rem 8.4rem;
  }

  .main-inner  {
    grid-template-columns: 2fr;
    gap: 44px;
  }

}

@media (max-width: 768px) {
    .breadcrumb {
    display: none;
  }

  .main-cont {
    padding: 6.6rem 2rem;
  }

   .main-inner  {
    grid-template-columns: 2fr;
    gap: 44px;
  }

  .converter-inputs, .right-content{
    padding: 1.5rem;
  }
}